html, body {
     height: 100%;
     margin: 0;
    padding: 0;
}
.page {
    width: 100%;
    min-height: 100%;
    background: url('../images/Background.svg') no-repeat center top;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.page--title {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 55px;
    text-transform: uppercase;
    margin-bottom: 33px;
    text-align: center;
    width: 100%;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
}

.room-card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 372px;
    width: 372px;
    border-radius: 13px;
    overflow: hidden;
    position: relative;
}


.room-card__img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.room-card__gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    background:linear-gradient(
        to top,
        rgba(10, 34, 64, 1),
        rgba(10, 34, 64, 0.1));   
}

.room-card__content {
    position: absolute;
    bottom: 24px;
    left: 24px;
    right: 24px;
}
.room-card__best-price {
    display: flex;
    position: absolute;
    top: 24px;
    left: 24px;
    visibility: hidden;
}
.mark-text {
    background: #FF7647;
    border-radius: 3px 0 0 3px;
    padding: 4px 4px 5px 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    color: #FFFFFF;
}
.mark-ico {
    width: 36px;
    height: 30px;
    background: url('../images/icon-discount.svg') no-repeat;
    background-position: left center;
    margin-left: -2px;
}

.room-card__description {
     border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.room-card__description--link {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: #FFFFFF;
    text-decoration: none;
    padding-bottom: 9px;
}

.room-card__description--link:hover{
    text-decoration: underline;
}

.room-card__description--link:active{
    text-decoration: none;
    opacity: 50%;
}

.room-card__description--text{
    display: block;
    padding-bottom: 21px;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.room-card__price--container {
    padding-top: 18px;
}
.room-card__price--description {
    position: relative;
    float: left;
}

.room-card__price--text {
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    display: block;
}
.room-card__price--from {
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    line-height: 24px;
    color: #fff;
    font-weight: 700;
}

.room-card__price--num {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 32px;
    color: #FF4B77;
    font-weight: 700;
}

.room-card__price--ruble-ico {
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    line-height: 32px;
    color: #999999;
}

.room-card__btn {
    border: none;
    position: relative;
    float: right;
    background-color: #F91155;
    padding: 13px 24px;
    height: 48px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.room-card__btn:hover {
    background-color: #D8003F;
}

.room-card__btn:active {
    background-color: #D8003F;
    color: #F9637C;
}


.room-card__booked--pay-link{
    color: #FF4B77;
    text-decoration: none;
}

.room-card__booked--pay-link:hover{
    color: #FF4B77;
    text-decoration: underline;
}

.room-card__booked--pay-link:active{
    color: #FF97B0;
    text-decoration: none;
}

.room-card__booked-text {
    position: absolute;
    background-color: #3C3E43;
    width: 100%;
    height: 96px;
    bottom: 0;
    visibility: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.room-card__booked--text {
   display: block;
   width: 100%;
}

.payment-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.room-card__booked--cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    background-color:rgba(255, 255, 255, 0.4); 
    visibility: hidden;
}

@media (max-width: 768px) {
.page {
    align-items: start;
}
.container {
    width: 768px;
}
.page--title {
    margin-bottom: 26px;
    margin-top: 27px;
}

.content {
    gap: 28px;
}

.room-card {
    height: 420px;
    width: 336px;
    border-radius: 10px;
}

.room-card__price--container {
    padding-top: 17px;
}
.room-card__price--description {
    width: 100%;
    padding-bottom: 16px;
}

.room-card__btn {
    padding: 13px 78px;
    width: 100%;
}


.room-card__booked-text {
    height: 161px;
}


}

@media (max-width: 320px) {
.page {
    align-items: start;
}
.container {
    width: 768px;
}
.page--title {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: 24px;
    margin-top: 24px;
}

.content {
    gap: 32px;
}

.room-card {
    height: 347px;
    width: 288px;
    border-radius: 13px;
}

.room-card__content {
    bottom: 21px;
    left: 21px;
    right: 21px;
}

.room-card__description--link {
    font-size: 20px;
    line-height: 26px;
    padding-bottom: 10px;
}

.room-card__description--text{
    padding-bottom: 22px;
    font-size: 14px;
    line-height: 21px;
}

.room-card__price--text {
    font-size: 14px;
    font-weight: 700;
}
.room-card__price--from {
    font-size: 17px;
}

.room-card__price--num {
    font-size: 20px;
    font-weight: 700;
}

.room-card__price--ruble-ico {
    font-size: 20px;
    color: rgba(255, 255, 255, 0.6);
;
}

.room-card__btn {
    padding: 10px 67px;
    height: 42px;
    border-radius: 3px;
    font-size: 14px;
}


.room-card__booked-text {
    height: 149px;
    visibility: hidden;
    font-size: 12px;
}

}